@tailwind base;
@tailwind components;
@tailwind utilities;

@media (orientation: portrait) {
  .controls > * {
    animation: controlsanimatio2 1s forwards;
  }
  @keyframes controlsanimatio2 {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@media (orientation: landscape) {
  .controls > * {
    animation: controlsanimatio1 1s forwards;
  }
  @keyframes controlsanimatio1 {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.uploadloader {
  animation:rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
